
<kendo-appbar class="app-bar">
  <span class="spacer"></span> 
    <button kendoButton  (click)="showComponent('register')" [ngClass]="{'active-button': activecomponent === 'register'}" >Register</button>
    <button kendoButton (click)="showComponent('configure')"   [ngClass]="{'active-button': activecomponent === 'configure'}"  >Configure</button>  
  </kendo-appbar>
  <app-register *ngIf="activecomponent === 'register'"></app-register>
  <app-config *ngIf="activecomponent === 'configure'"></app-config>