<div class="register">
    <h1>Member Registration</h1>
    <div class="example">
        <form class="k-form" [formGroup]="form">
            
          
            <ng-container *ngFor="let field of formFields">
                
                    <label  [for]="field.name.toLowerCase()">{{ field.name }}</label>
                    <span *ngIf="form.controls[field.name.toLowerCase()].errors?.['required']" style="color: red;">*</span>
                   
                    <ng-container *ngIf="field.name.toLowerCase() === 'address'; else inputField">
                        <textarea 
                            formControlName="address"
                            class="k-textarea">
                        </textarea>
                    </ng-container>

                   
                    <ng-template #inputField>
                        <kendo-textbox  class="k-textbox"
                            formControlName="{{ field.name.toLowerCase() }}" 
                            [clearButton]="true">
                        </kendo-textbox>
                    </ng-template>


                    <div *ngIf="form.controls[field.name.toLowerCase()].invalid && form.controls[field.name.toLowerCase()].touched" class="error">
                        <ng-container *ngIf="form.controls[field.name.toLowerCase()].errors?.['required']">
                            {{ field.name }} is required.
                        </ng-container>
                        <ng-container *ngIf="form.controls[field.name.toLowerCase()].errors?.['maxlength']">
                            {{ field.name }} exceeds the maximum length.
                        </ng-container>
                        <ng-container *ngIf="form.controls[field.name.toLowerCase()].errors?.['pattern']">
                            Invalid format for {{ field.name }}.
                        </ng-container>
                        <ng-container *ngIf="form.controls[field.name.toLowerCase()].errors?.['email']">
                            Please enter a valid email address.
                        </ng-container>
                    </div>
                
            </ng-container>

            <div class="k-form-buttons">
                <button kendoButton [disabled]="form.invalid" (click)="submit()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>



