<div class="register">
    <h1>Member Registration</h1>
    <div class="example">
        <form class="k-form" [formGroup]="form">
            
            <ng-container *ngFor="let field of formFields">
                
                    <label  [for]="field.name.toLowerCase()">{{ field.name }}</label>
                    <span *ngIf="isRequired(field.name)" style="color: red;">*</span>
                   
                    <ng-container *ngIf="field.name.toLowerCase() === 'file upload'; else otherFileds">
                        <input 
                            type="file" 
                            [accept]="selectedFileType"
                            class="k-file-upload"
                            (change)="onFileSelected($event)"
                            formControlName="fileUpload"
                        />
                        <span *ngIf="fileFormatError" class="error">Invalid file format. Please upload {{selectedFileType}} a valid file.</span>
                    </ng-container>

                    <ng-template #otherFileds >
                    <ng-container *ngIf="field.name.toLowerCase() === 'address';  else otherFields">
                         
                        <textarea  
                            formControlName="address"
                            class="k-textarea">
                        </textarea>
                    </ng-container>
                    </ng-template>

                    <ng-template #otherFields>

                        <ng-container *ngIf="field.name.toLowerCase() === 'country'; else checkState">
                            <kendo-dropdownlist 
                            class="k-dropdown"
                                [data]="filteredCountries" 
                                formControlName="country" 
                                [defaultItem]="'Select Country'" 
                                [filterable]="true"
                                (filterChange)="onCountryFilter($event)">
                            </kendo-dropdownlist>
                        </ng-container>
        
                          <ng-template #checkState>
                            <ng-container *ngIf="field.name.toLowerCase() === 'state'; else inputField">
                                <kendo-dropdownlist 
                                class="k-dropdown"
                                    [data]="filteredStates" 
                                    formControlName="state" 
                                    [defaultItem]="'Select State'" 
                                    [filterable]="true"
                                    (filterChange)="onStateFilter($event)">
                                </kendo-dropdownlist>
                                
                            </ng-container>
                        </ng-template>
                   
                    <ng-template #inputField >
                        <kendo-textbox  class="k-textbox"
                            formControlName="{{ field.name.toLowerCase() }}" 
                            [clearButton]="true">
                        </kendo-textbox>
                    </ng-template>

                </ng-template>


                <div *ngIf="form.controls[field.name.toLowerCase()]?.invalid && form.controls[field.name.toLowerCase()]?.touched" class="error">
                    
                    <ng-container *ngIf="form.controls[field.name.toLowerCase()]?.errors?.['required']">
                        {{ field.name }} is required.
                    </ng-container>
                    
                    <ng-container *ngIf="form.controls[field.name.toLowerCase()].errors?.['maxlength']">
                        {{ field.name }} exceeds the maximum length.
                    </ng-container>
                    
                    <ng-container *ngIf="field.name.toLowerCase() === 'email' && form.controls['email']?.errors?.['email']">
                        Invalid email format. Please enter a valid email.
                    </ng-container>

                    <ng-container *ngIf="field.name.toLowerCase() === 'mobile' && form.controls['mobile']?.errors?.['pattern']">
                        Invalid phone number. Must be exactly 10 digits.
                    </ng-container>

                </div>
                
            </ng-container>

            <div class="k-form-buttons">
                <button kendoButton [disabled]="form.invalid" (click)="submit()">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>


<div *ngIf="showToast" class="success-toast">
    Registration Successful! 
</div>