.success{
    text-align: center;
}

.table-container {
    margin: 20px auto;
    max-width: fit-content;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  tbody tr:hover {
    background-color: #f2f2f2;
  }